html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #EFFFFD;
  overflow-x: hidden;
  position: relative;
}

.modal{
  position: absolute;
  width: 15rem;
  height: 10rem;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

.main {
  width: 100vw;
  height: 100vh;
  padding: .5rem;
  box-shadow: 2px 2px 1px rgb(80, 80, 80);
  border-radius: 10px;
  background-color: #BBE1C5;
  overflow-x: hidden;
}

.section {
  width: 100%;
  height: 100%;
  margin: auto;
}

.article {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.label {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.input {
  width: 95%;
  height: 2rem;
  font-size: 1.5rem;
  margin: .5rem auto;
  text-align: center;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;
  border-radius: 10px;
}

.input:focus {
  outline: none;
  background-color: #EFFFFD;
}

.title {
  color: black;
  font-size: 2.5rem;
  text-align: center;
  margin: 0;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 4rem 0;
}

.btn {
  width: 14rem;
  height: 4rem;
  margin: 0 auto;
  font-size: 2rem;
  margin-bottom: 1rem;
  background-color: #ad898a;
  border: .1rem solid black;
  border-radius: 25px;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-.3rem);
  box-shadow: 0 1px 1px black;
}

.btn:active {
  transform: translateY(0);
  box-shadow: none;
}

.subtitle {
  font-size: 2rem;
  text-align: center;
}

.form-search {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.form-search button {
  margin: 2rem auto;
}

.select {
  width: 8rem;
  height: 4rem;
  font-size: 1.5rem;
  margin: 2rem 0;
  font-weight: bold;
  border-radius: 5px;
}

.search {
  max-width: 25rem;
  height: 4rem;
  margin: 2rem 0;
}

.search-container {
  display: flex;
  justify-content: center;
}

.search-container label {
  align-self: center;
  font-size: 1.5rem;
}

.cards-container {
  display: grid;
  margin: 0 auto;
  width: 95%;
  min-height: 10rem;
  height: 90%;
  border: 1px solid black;
  border-radius: 5px;
  grid-template-columns: repeat(2, 1fr);
}

.card {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  width: 90%;
  min-height: 14rem;
  background-color: white;
  margin: 1rem auto;
  border-radius: 10px;
  box-shadow: 2px 2px 1px rgb(80, 80, 80);
  gap: 1rem;
}

.card__section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 1rem .5rem;
}

.card__subtitle {
  font-size: 1.8rem;
  margin-right: .5rem;
}

.card__text {
  font-size: 1.5rem;
  text-align: center;
}

@media (max-width: 768px) {
  .form {
    grid-template-columns: 1fr;
  }

  .form-search {
    grid-template-columns: 1fr;
  }

  .btn {
    width: 70%;
  }

  .card__section {
    flex-direction: column;

  }

  .cards-container {
    grid-template-columns: 1fr;
  }

}